body {
  color: #fff;
}

.container {
  display: none;
}

table {
    margin-bottom: 6rem;
}

th {
  font-size: 5.4rem;
  color: #fff;
  margin-bottom: 5rem;
  padding-right: 3rem;
}

.end-point {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding-top: 2rem;
}

.notyf__wrapper {
  font-size: 2.5rem;
}