body {
  color: #fff;
}

.container {
  display: none;
  max-width: 1140px;
}

table {
  border-radius: 0.75rem;
}

table > *:not(caption) {
  font-size: 8rem;
}

caption {
  font-size: 4rem;
  color: rgb(3, 252, 82);
}

h1 {
  color: rgb(3, 252, 82);
}

.notyf__wrapper {
  font-size: 2.5rem;
}

@media screen and (max-height: 1034px) {
  table > *:not(caption) {
    font-size: 5rem;
  }
}

@media screen and (max-width: 875px) {
  table > *:not(caption) {
    font-size: 5rem;
  }
}

@media screen and (max-height: 835px) {
  caption {
    display: none;
  }
}

@media screen and (max-height: 754px) {
  #endpointTitle {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  caption {
    display: none;
  }
}

@media screen and (max-height: 698px) {
  table > *:not(caption) {
    font-size: 4rem;
  }
}

@media screen and (max-width: 576px) {
  table {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
}