body {
  color: #fff;
}

.container {
  display: none;
}

#endpointTitle {
  margin-bottom: 2rem;
}

#headings {
  font-size: 8rem;
  height: 10rem;
}

#endpointsTable {
  margin-bottom: 4rem;
  border-spacing: 1rem;
}

#endpointsTable > * {
  font-size: 7rem;
  text-align: center;
}

#endpointsTable > tr:not(:first-child) {
  padding-bottom: 2rem;
}

.notyf__wrapper {
  font-size: 2.5rem;
}

@media screen and (max-width: 896px) {
  #headings {
    font-size: 7rem;
  }

  #endpointsTable > * {
    font-size: 5rem;
  }
}